.container {
  display: grid;
  grid-template-rows: 96px 1fr;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 'sidebar header' 'sidebar main';
}

header {
  grid-area: header;
}

aside {
  grid-area: sidebar;
  height: 100vh;
}

main {
  grid-area: main;
}
